<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="index::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>services</title>
</head>
<body>
	<section>
		<div class="text-center">
			<h1 class="font-weight-bold mt-5">
				WelCome....<br> Client Service Center Of SSB_Card
			</h1>

			<h4 class="mt-3"
				style="border: 2px solid red; color: red; margin: 15px;">新型コロナウィルスの感染拡大防止対応のため、お電話がつながりにくくなっております。
				各種お手続きは会員専用Webサービス「SSB-Web Desk」または「SSB-Web Deskアプリ」 をご利用ください。</h4>


			<h1 style="background-color: yellow; margin: 15px;">SSB-Web
				Deskでのお手続き</h1>
			<h4>SSBカード会員さま専用のインターネットサービス「SSB-Web
				Desk」では、各種サービスを24時間365日ご利用いただけます。</h4>

			<div class="internet">
				<div class="box">
					<h4>まだ登録されていない会員の方</h4>

					<a class="customerservicesbtn1" th:href="@{/}">SSB_WEB_DISK
						新規登録</a>

					<h4 class="mt-2">LIFE-Web Deskご登録方法・ご注意 ></h4>
				</div>

				<div class="box">
					<h4>ご登録済みの会員の方</h4>
					<a class="customerservicesbtn2" th:href="@{/}">SSB_WEB_DISK
						ログイン</a>
				</div>
			</div>

			<div class="mt-4">
				<a class="customerservicesbtn3 ">SSB_WEB_DESK でできること...</a>
			</div>

			<h1 class="mt-3">カード盗難・紛失のご連絡</h1>

			<div class="internet1">
				<div class="box">
					<h4
						style="border: 1px solid yellow; background-color: yellow; height: 50px;">日本国内の場合</h4>
					<h5>0120-225331（無料）</h5>
					<p>
						※受付時間 24時間（年中無休）<br> ※携帯電話からもご利用いただけます。<br>
						※盗難・紛失以外のお問い合わせはお受けできません。
					</p>
				</div>

				<div class="box">
					<h4
						style="border: 1px solid yellow; background-color: yellow; height: 50px;">海外の場合</h4>
					<h4>（81）3-3431-1037</h4>
					<p>
						※受付時間 24時間（年中無休）<br> ※日本語受付
					</p>
				</div>
			</div>

			<div class="mt-4">
				<a class="customerservicesbtn1 ">カード盗難・紛失のご連絡</a>
			</div>

			<div class="internet2">
				<div class="box">
					<h4>暗証番号をお忘れですか？</h4>
					<p>暗証番号をお忘れの方は、暗証番号の照会もしくは変更のお手続きが必要となります。</p>

					<a class="customerservicesbtn3" th:href="@{/}">暗証番号について</a>

				</div>

				<div class="box">
					<h4>トラブルに巻き込まれないために</h4>
					<p>安心してご利用いただくために、犯罪手口の事例や注意点をご紹介しております。</p>
					<a class="customerservicesbtn3" th:href="@{/}">セキュリティに関するご案内</a>
				</div>
			</div>


			<h1 class="mt-5">お電話でのお問い合わせ</h1>
			<h5 class="mt-4">自動音声サービスやクレジットカード全般のお問い合わせ、入会について、各種サービスなど、お問い合わせ先を掲載しております。</h5>

			<div class="internet3">
				<div class="box">
					<p>
						クレジットカード全般について ><br> 加盟店契約について（法人・加盟店さま）>
					</p>
				</div>

				<div class="box">
					<p>
						入会について ><br> 当社に対するご相談・ご意見・苦情 >
					</p>
				</div>
			</div>

			<div class="mt-4">
				<a class="customerservicesbtn3 ">お電話でのお問い合わせ</a>
			</div>

			<h1 class="mt-5">メールでのお問い合わせ</h1>
			<h5 class="mt-4">以下のお問い合わせはメールでご質問いただけます。</h5>

			<div class="internet3">
				<div class="box">
					<ul>
						<li>カードの解約（残高がない方のお手続きはこちら）</li>
						<li>カードご利用時のエラー</li>
						<li>LIFE-Web Desk・アプリ（ID・パスワード・ログインエラー）</li>
					</ul>
				</div>

				<div class="box">
					<ul>
						<li>ご契約内容の確認（契約日・ご利用可能枠・残高）</li>
						<li>当月のご請求について（請求金額・お支払日）</li>
					</ul>
				</div>
			</div>


			<div class="mt-4">
				<a class="customerservicesbtn1 ">メールでのお問い合わせ</a>
			</div>
			<p class="mt-4" style="color: red;">
				<strong>メール宛先 ： info@SSB.co.jp</strong>
			</p>
			<br>
			<br>
			<br>







			<script>
$(document).ready(()=>{
    $(".item").removeClass("item");
    $("#clientsupport-link").addClass("item");
});
</script>
		</div>
	</section>
</body>
</html>