<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="index::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>abouts</title>
</head>
<body>
<section>
<div class="container">
<div class="row">
<div class="col-md-6 offset-md-3">
<div class="my-card mt-3">

<h3 class="font-weight-bold" style="text-align:center">LOGIN FORM SUCCESS OF SSB CARD</h3>
<h4 style="text-align:center">基本情報登録完了画面</h4><br>

<div th:if="${message}">
<p th:text="${message}" class="p-3 mb-2 bg-danger text-white"></p>
</div>

<form th:action="@{/bishnu/login_success_home}" method="get">
<div class="mt-5" style="text-align:center;">
<button class="loginNextbtn1" type="submit" >Home Page</button>
</div>
</form>

</div>

</div>


</div>

</div>



<script>
$(document).ready(()=>{
    $(".item").removeClass("item");
    $("#chooseUser-link").addClass("item");
});
</script>
</section>
</body>
</html>