<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="index::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>abouts</title>
</head>
<body>
<section>
<div class="container">
<div class="row">
<div class="col-md-6 offset-md-3">
<div class="my-card mt-3">

<h3 class="font-weight-bold" style="text-align:center">LOGIN FORM OF SSB CARD</h3>
<h4 style="text-align:center">基本情報登録画面 2</h4><br>

<form th:action="@{/bishnu/login_page3}" th:object="${loginForm2}" method="post">

<div class="mb-3">
   <label for="email_field">Your Email:</label>
   <input type="email" class="form-control" name="email" id="email_field" placeholder="sample@ssbcard.co.jp..." required>
</div>

<div class="mb-3">
                <label for="mobile" > Mobile Number：</label>
                <p> <span>ex:090-1234-5678</span></p>
                <div class="row">
                    <div class="col-3">
                        <input type="number" class="form-control" name="mobile1"
                            size="3" maxlength="3" />
                    </div>-
                    <div class="col-3">
                        <input type="number" class="form-control"  name="mobile2"
                            size="4" maxlength="4"  />
                    </div>-
                    <div class="col-3">
                        <input type="number" class="form-control" name="mobile3"
                            size="4" maxlength="4"  />
                    </div>
</div>
</div>

<div class="mb-3">
                <label for="tel" > TEL Number： </label>
              <p> <span>ex:03-1234-5678</span></p>
               
                <div class="row">
                    <div class="col-3">
                        <input type="number" class="form-control" name="tel1"
                            size="2" maxlength="2" />
                    </div>-
                    <div class="col-3">
                        <input type="number" class="form-control" name="tel2"
                            size="4" maxlength="4"  />
                    </div>-
                    <div class="col-3">
                        <input type="number" class="form-control" name="tel3"
                            size="4" maxlength="4"  />
                    </div>
</div>
</div>






<div class="mt-5" style="text-align:center;">
<button class="loginNextbtn1" type="submit" >Next</button>
</div>

<div class="mt-5" style="text-align:center;">
<button class="loginNextbtn2" type="submit" >Back</button>
</div>
</form>

</div>

</div>

</div>

</div>
<br><br><br>
<br><br><br>
<br><br><br>


<script>
$(document).ready(()=>{
    $(".item").removeClass("item");
    $("#chooseUser-link").addClass("item");
});
</script>
</section>
</body>
</html>